<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com5vnetwork.tm_android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <service android:name=".TmVpnService"
            android:foregroundServiceType="systemExempted"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
<!--            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"-->
<!--                android:value="vpn"/>-->
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyTileService"
            android:exported="true"
            android:label="VX"
        android:icon="@drawable/tile_icon"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE" />
        </intent-filter>
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
<!--            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"-->
<!--                android:value="true" />-->
    </service>
    </application>
</manifest>
